<div class="col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <span class="strong"><i class="fa fa-user"></i>&nbsp; Employee Status</span>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>status</th>
                    <th>count</th>
                </tr>
            </thead>
            <tbody>
            {% for employeestatus in employee_status %}
                <tr>
                    <td><a href="{% url "employees_list_status" employeestatus %}">{{ employeestatus }}</a></td>
                    <td>{{ employeestatus.count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>