<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <span class="strong"><i class="fa fa-user"></i>&nbsp; Intercontracts</span>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>employee</th>
                    <th>category</th>
                    <th>siglum</th>
                </tr>
            </thead>
            <tbody>
            {% for employee in employees_list|slice:":5" %}
                <tr>
                    <td><a href="{% url "employee" employee.id %}">{{ employee }}</a></td>
                    <td>{{ employee.category}}</td>
                    <td>{{ employee.siglum }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="panel-footer">... and {{ employees_list|length|add:"-5"}} more <span class="pull-right">(see all)</span></div>
    </div>
</div>