{% include "decoration.html" with title=title|default:"Employees list" icon=icon|default:"employee_small.png" %}

{% if employees_list %}
<table  class="table table-condensed table-bordered table-hover dataTable">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>firstname</th>
        <th>siglum</th>
        <th>status</th>
    </tr>
    </thead>
    <tbody>
{% for employee in employees_list %}
    <tr>
        <td><a href="{% url 'employee' employee.id %}">{{ employee.user.username }}</a></td>
        <td><a href="{% url 'employee' employee.id %}">{{ employee.user.last_name }}</a></td>
        <td>{{ employee.user.first_name }}</td>
        <td>{{ employee.siglum }}</td>
        <td>{{ employee.get_status_display }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>No employees found.</p>
{% endif %}
