{% extends "base.html" %}

{% block content %}
<ul class="nav nav-pills">
    <li role="presentation" {% if viewing == "all" %}class="active"{% endif %}><a href="{%url "employees_list" %}">All</a></li>
    {% for employeestatus in employeestatus_list %}
    <li role="presentation" {% if viewing|lower == employeestatus|lower %}class="active"{% endif %}><a href="{%url "employees_list_status" employeestatus %}">{{ employeestatus }}</a></li>
    {% endfor %}
</ul>

<!-- Include the list of objects -->
{% include "employee_table.html" with block="main" %}

{% include "common/list_actions.html" with action_url="create_employee" item_name="employee" %}

{% endblock %}