{% extends "base.html" %}

{% block content %}

{% if form.errors %}
    <div class="alert alert-danger" align="center">Your username and password didn't match. Please try again.</div>
{% endif %}

    <form class="form-horizontal" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <legend>Please Login</legend>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="id_username">{{ form.username.label_tag }}</label>
        <div class="col-sm-6 controls">
            <input type="text" id="id_username" name="username" placeholder="login" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="id_password">{{ form.password.label_tag }}</label>
        <div class="col-sm-6  controls">
            <input type="password" id="id_password" name="password" placeholder="Password" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2 controls">
            <button type="submit" class="btn btn-primary">Sign in</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </div>
    </form>

{% endblock %}