{% include "fa-decoration.html" with title=title|default:"Applicants list" icon=icon|default:"fa-user" %}

{% if applicants_list %}
<table class="table table-condensed table-bordered table-hover {{ datatable_style |default:"dataTable" }}">
    <thead>
        <tr>
            <th>last name</th>
            <th>first name</th>
            <th>phone</th>
            <th>email</th>
            <th>first contact</th>
        </tr>
    </thead>
    <tbody>
{% for applicant in applicants_list %}
    <tr>
        <td><a href="{% url "applicant_detail" applicant.id %}">{{ applicant.last_name }}</a></td>
        <td>{{applicant.first_name}}</td>
        <td>{{ applicant.phone }}</td>
        <td>{{ applicant.email }}</td>
        <td>{{ applicant.first_contact }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>No applicant found.</p>
{% endif %}