<!-- We need to display this page in a full layout -->
{% extends "base.html" %}

{% block content %}

<!-- Include the object property -->
{% include "applicant_property.html" %}

<!-- Include the object property -->
{% include "common/object_actions.html" %}

<br/>

{% include "common/comments.html" with object=applicant next_url="applicant_detail" %}

<hr/>

{% include "applicantposition_table.html" with applicantpositions_list=applicant.applicantposition_set.all icon="fa-bullhorn" %}
<a href="{% url "add_positionfromapplicant" applicant.id %}"><i class="fa fa-plus"></i>Add Position</a>

<hr/>

{% include "recruitmentmeeting_table.html" with recruitmentmeetings_list=applicant.recruitmentmeeting_set.all icon="fa-calendar" %}
<a href="{% url "add_recruitmentmeetingfromapplicant" applicant.id %}"><i class="fa fa-plus"></i>Add Recruitment Meeting</a>

{% endblock %}