<!-- We need to display this page in a full layout -->
{% extends "base.html" %}

{% block content %}

<!-- Include the object property -->
{% include "projects/deliverable_property.html" %}

<!-- Include the object property -->
{% include "common/object_actions.html" %}

<hr/>

{% include "projects/deliverablevolume_table.html" with deliverablevolumes_list=deliverable.get_volumes %}
<a href="{{ deliverable.get_absolute_url }}/add_volume/"><i class="icon-plus"></i>Add deliverable volume</a>

{% endblock %}