{% include "projects/decoration.html" with title=title|default:"Project Deliverables Volumes list" icon=icon|default:"deliverablevolume_small.png" %}

{% if deliverablevolumes_list %}
{% load currency_filter %}
<table class="styled">
    <tr>
        <th/>
        <th>project deliverable name</th>
        <th>date start</th>
        <th>date end</th>
        <th>quantity</th>
        <th>unit price</th>
        <th>total price</th>
    </tr>
{% for deliverablevolume in deliverablevolumes_list %}
    <tr>
        <td><input type="checkbox" name="id_{{ deliverablevolume.id }}"/></td>
        <td><a href="{{ deliverablevolume.get_absolute_url }}">{{ deliverablevolume.deliverable }}</a></td>
        <td>{{ deliverablevolume.date_start }}</td>
        <td>{{ deliverablevolume.date_end }}</td>
        <td align="right">{{ deliverablevolume.quantity }}</td>
        <td align="right">{{ deliverablevolume.unit_price|currency }}</td>
        <td align="right">{{ deliverablevolume.get_total_price|currency }}</td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>No deliverable volume found.</p>
{% endif %}