{% load currency_filter %}
{% include "services/decoration.html" with title="Project Deliverable properties" icon="deliverable.png" block="main" %}
<table class="table table-hover">
    <tr><th>project deliverable name</th><td>{{ deliverable.name}}</td></tr>
    <tr><th>project deliverable identifier</th><td>{{ deliverable.code }}</td></tr>
    <tr><th>project name</th><td><a href="{{deliverable.project.get_absolute_url }}">{{ deliverable.project}}</a></td></tr>
    <tr><th>service family / service</th><td><a href="{{ deliverable.service.get_absolute_url}}">{{ deliverable.service}}</a></td></tr>
    <tr><th>service linked validated ?</th><td><span class={% include "projects/link_display.html" %}></span><a href="validate_service">{{ deliverable.get_approved_by_service_owner_display }}</a></td></tr>
    <tr><th>description</th><td>{{ deliverable.description|linebreaksbr  }}</td></tr>
    <tr><th>acceptance criteria</th><td>{{ deliverable.acceptance_criteria }}</td></tr>
    <tr><th>total turnover</th><td>{{ deliverable.get_turnover|currency }}</td></tr>
</table>