{% include "projects/decoration.html" with title=title|default:"Project Deliverables list" icon=icon|default:"deliverable_small.png" %}

{% if deliverables_list %}
<table class="styled">
    <tr>
        <th/>
        <th>project deliverable name</th>
        <th>project deliverable identifier</th>
        <th>Project Name</th>
        <th>service family</th>
        <th>service</th>
        <th>link approved</th>
        <th>total volume</th>
        <th>turnover</th>
    </tr>
{% for deliverable in deliverables_list %}
    <tr>
        <td><input type="checkbox" name="id_{{ deliverable.id }}"/></td>
        <td><a href="{{ deliverable.get_absolute_url }}">{{ deliverable }}</a></td>
        <td>{{ deliverable.code }}</td>
        <td><a href="{{ deliverable.project.get_absolute_url }}">{{ deliverable.project }}</a></td>
        <td><a href="{{ deliverable.service.service_family.get_absolute_url }}">{{ deliverable.service.service_family }}</a></td>
        <td><a href="{{ deliverable.service.get_absolute_url }}">{{ deliverable.service.name }}</a></td>
        <td style={% include "projects/link_display.html" %}><a href="{{ deliverable.get_absolute_url}}/validate_service">{{deliverable.get_approved_by_service_owner_display }}</a></td>
        <td align="right">{{ deliverable.get_total_volume }}</td>
        <td align="right">{{ deliverable.get_turnover }} &euro;</td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>No deliverables found.</p>
{% endif %}