{% include "services/decoration.html" with title="Deliverable properties" icon="deliverable.png" block="main" %}
<table class="blue">
    <tr><th>project</th><td><a href="{{deliverable.project.get_absolute_url }}">{{ deliverable.project}}</a></td></tr>
    <tr><th>service</th><td><a href="{{ deliverable.service.get_absolute_url}}">{{ deliverable.service}}</a></td></tr>
    <tr><th>code</th><td>{{ deliverable.code }}</td></tr>
    <tr><th>name</th><td>{{ deliverable.name}}</td></tr>
    <tr><th>description</th><td>{{ deliverable.description }}</td></tr>
    <tr><th>contractual volume</th><td>{{ deliverable.contractual_volume }}</td></tr>
    <tr><th>acceptance criteria</th><td>{{ deliverable.acceptance_criteria }}</td></tr>
    <tr><th>unit price</th><td>{{ deliverable.unit_price }}</td></tr>
<!--     <tr><th>unit time</th><td>{{ deliverable.unit_time }}</td></tr> -->
    <tr><th>unit turnover</th><td>(computed)</td></tr>
    <tr><th>status</th><td>{{ deliverable.get_approved_by_service_owner_display }}</td></tr>
</table>