
{% include "projects/decoration.html" with title=title|default:"Projects list" icon=icon|default:"project_small.png" %}

{% if projects_list %}
<table class="styled">
    <tr>
        <th/>
        <th>project number</th>
        <th>project name</th>
        <th>project leader</th>
    </tr>
{% for project in projects_list %}
    <tr>
        <td><input type="checkbox" name="id_{{ project.id }}"/></td>
        <td>{{ project.number }}</a></td>
        <td><a href="{{project.get_absolute_url}}">{{ project.name }}</td>
        <td><a href="{{project.project_leader.get_absolute_url}}">{{ project.project_leader }}</a></td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>No projects found.</p>
{% endif %}
