<!-- We need to display this page in a full layout -->
{% extends "base.html" %}

{% block content %}

<!-- Include the object property -->
{% include "projects/project_property.html" %}

<!-- Include the object property -->
{% include "common/object_actions.html" %}

<hr/>

<div class="block">
{% include "projects/deliverable_table.html" with deliverables_list=project.get_deliverables %}
<a href="{{project.get_absolute_url}}/add_deliverable"><i class="icon-plus"></i>Add deliverable</a>
</div>

<!--<div class="block">
{% comment %} {% include "projects/authorization_table.html" with authorizations_list=project.get_authorizations %} {% endcomment %}
<a href="/projects/authorizations/create">Add authorization</a>
</div>
-->

{% comment %}<div class="block">
{% include "projects/task_table.html" with tasks_list=project.get_tasks %}
<a href="{{project.get_absolute_url}}/add_task"><i class="icon-plus"></i>Add task</a>
</div>{% endcomment %}
{% endblock %}