{% extends "base.html" %}

{% block title %}Subjects list{% endblock %}

{% block content %}

{% if subjects_list %}
<table class="blue">
    <tr>
        <th/>
        <th>family</th>
        <th>name</th>
    </tr>
{% for subject in subjects_list %}
    <tr>
        <td><input type="checkbox" name="id_{{task.id}}"/></td>
        <td><a href="/subject_families/{{subject.subject_family.id}}">{{ subject.subject_family}}</a></td>
        <td><a href="/subjects/{{ subject.id }}/">{{ subject.name }}</a></td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>No subjects found.</p>
{% endif %}

<a href="create">Add new Subject</a>

{% endblock %}