{% include "projects/decoration.html" with title="Task properties" icon="task.png" block="main" %}
<table class="blue">
    <tr><th>name</th><td>{{ task.name }}</td></tr>
    <tr><th>open date</th><td>{{ task.open_date }}</td></tr>
    <tr><th>criticity</th><td style={% include "projects/criticity_display.html" %}>{{ task.get_criticity_display }}</td></tr>
    <tr><th>description</th><td>{{ task.description }}</td></tr>
    <tr><th>requestor</th><td>{{ task.requestor }}</td></tr>
    <tr><th>creator</th><td><a href="{{ task.creator.get_absolute_url }}">{{ task.creator }}</a></td></tr>
    <tr><th>project</th><td><a href="{{ task.deliverable.project.get_absolute_url }}">{{ task.deliverable.project }}</a></td></tr>
    <tr><th>deliverable</th><td><a href="{{ task.deliverable.get_absolute_url }}">{{ task.deliverable}}</a></td></tr>
    <tr><th>answer</th><td>{{ task.answer }}</td></tr>
    <tr><th>close date</th><td>{{ task.close_date }}</td></tr>
    <tr><th>status</th><td>{{ task.get_status_display }}</td></tr>
    <tr><th>reject reason</th><td>{{ task.reject_reason }}</td></tr>
    <tr><th>time spent</th><td>{{ task.time_spent }}</td></tr>
    <tr><th>subject</th><td>
        {% for subject in task.get_subjects %}
        <a href="{{ subject.get_absolute_url }}">{{ subject }}</a><br/>
        {% endfor %}
    </td></tr>
    <tr><th>owner</th><td>
        {% for owner in task.get_owners %}
        <a href="{{ owner.get_absolute_url }}">{{ owner }}</a><br/>
        {% endfor %}
    </td></tr>
</table>