<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <span class="strong"><i class="fa fa-bullhorn"></i>&nbsp; Open Positions</span>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>position</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
            {% for position in positions_list %}
                <tr>
                    <td><a href="{% url "position_detail" position.id %}">{{ position }}</a></td>
                    <td><div class="label {{ position.status.css_class }}">{{ position.status }}</div></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>