{% include "fa-decoration.html" with title=title|default:"Employee Positions list" icon=icon|default:"fa-bullhorn" %}

{% if employeepositions_list %}
<table class="table table-condensed table-bordered table-hover {{ datatable_style |default:"dataTable" }}">
    <thead>
        <tr>
            <th>employee</th>
            <th>siglum</th>
            <th>position</th>
            <th>status</th>
            <th>start date</th>
            <th>end date</th>
        </tr>
    </thead>
    <tbody>
{% for employeeposition in employeepositions_list %}
    <tr>
        <td><a href="{% url "employee" employeeposition.employee.id %}">{{ employeeposition.employee }}</a></td>
        <td>{{ employeeposition.employee.siglum }}</td>
        <td><a href="{% url "position_detail" employeeposition.position.id %}">{{ employeeposition.position}}</td>
        <td><a href="{% url "employeeposition_detail" employeeposition.id %}"><i class="fa fa-edit"></i></a>&nbsp; <div class="label {{ employeeposition.status.css_class }}" title="{{ employeeposition.comments }}">{{ employeeposition.status }}</div></td>
        <td>{{ employeeposition.start_date }}</td>
        <td>{{ employeeposition.end_date }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>No positions found.</p>
{% endif %}