{% include "decoration.html" with title=title|default:"Employees & Jobs list" icon=icon|default:"job_small.png" %}

{% if jobemployees_list %}
<table class="table table-condensed table-bordered table-hover dataTable">
    <thead>
        <tr>
            <th>employee</th>
            <th>job</th>
            <th>date start</th>
            <th>date end</th>
        </tr>
    </thead>
    <tbody>
{% for jobemployee in jobemployees_list %}
    <tr>
        <td><a href="{% url "job_detail" jobemployee.job.id %}">{{ jobemployee.job.name }}</a></td>
        <td><a href="{% url "employee_detail" jobemployee.employee.id %}">{{ jobemployee.employee }}</a></td>
        <td>{{ jobemployee.date_start }}</td>
        <td>{{ jobemployee.date_end }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>No jobs found.</p>
{% endif %}