<!-- We need to display this page in a full layout -->
{% extends "base.html" %}

{% block content %}

<!-- Include the object property -->
{% include "position_property.html" %}

<!-- Include the object property -->
{% include "common/object_actions.html" %}

<br/>

{% include "common/comments.html" with object=position next_url="position_detail" %}

<hr/>

{% include "employeeposition_table.html" with employeepositions_list=position.employeeposition_set.all icon="fa-user" %}
<a href="{% url "add_employeeposition" position.id %}"><i class="fa fa-plus"></i>Add Employee</a>

<hr/>

{% comment %}
In the following line, instead of using applicantposition_set.all, we use applicant_position.all because
of the related_name attribute for Position in ApplicantPosition model
{% endcomment %}
{% include "applicantposition_table.html" with applicantpositions_list=position.applicant_position.all icon="fa-child" %}
<a href="{% url "add_applicantfromposition" position.id %}"><i class="fa fa-plus"></i>Add Applicant</a>

{% endblock %}