{% include "fa-decoration.html" with title=title|default:"Positions list" icon=icon|default:"fa-bullhorn" %}

{% if positions_list %}
<table class="table table-condensed table-bordered table-hover {{ datatable_style |default:"dataTable" }}">
    <thead>
        <tr>
            <th>job</th>
            <th>project</th>
            <th>department</th>
            <th>status</th>
            <th>location</th>
            <th>publish date</th>
            <th>headcount</th>
        </tr>
    </thead>
    <tbody>
{% for position in positions_list %}
    <tr>
        <td><a href="{% url "job_detail" position.job.id %}">{{ position.job }}</a></td>
        <td><a href="{% url "project_detail" position.project.id %}">{{ position.project }}</a></td>
        <td>{{ position.project.department }}</a></td>
        <td><a href="{% url "position_detail" position.id %}"><i class="fa fa-edit"></i></a>&nbsp;<div class="label {{ position.status.css_class }}">{{ position.status }}</div></td>
        <td>{{ position.location }}</td>
        <td>{{ position.publish_date }}</td>
        <td>{{ position.headcount }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>No positions found.</p>
{% endif %}