{% extends "base.html" %}

{% block content %}

<ul class="nav nav-pills">
  <li role="presentation" {% if viewing = "open" %}class="active"{% endif %}><a href="{%url "positions_list" %}">Open Positions only</a></li>
  <li role="presentation" {% if viewing = "all" %}class="active"{% endif %}><a href="{%url "all_positions_list" %}">All Positions</a></li>
</ul>

<!-- Include the list of objects -->
{% include "position_table.html" with block="main" datatable_style="dataTableFiltered" %}

{% include "common/list_actions.html" with action_url="create_position" item_name="position" %}

{% endblock %}