{% include "fa-decoration.html" with title="Position properties" icon="fa-bullhorn" block="main" %}
<table class="table table-hover">
    <tr><th>job</th><td><a href="{% url "job_detail" position.job.id %}">{{position.job}}</a></td></tr>
    <tr><th>position</th><td>{{ position.profile }}</td></tr>
    <tr><th>project</th><td><a href="{% url "project_detail" position.project.id %}">{{ position.project}}</a></td></tr>
    <tr><th>status</th><td><div class="label {{ position.status.css_class }}">{{ position.status }}</div></td></tr>
    <tr><th>location</th><td>{{ position.location }}</td></tr>
    <tr><th>publish date</th><td>{{ position.publish_date }}</td></tr>
    <tr><th>headcount</th><td>{{ position.headcount }}</td></tr>
    <tr><th>comment</th><td>{{ position.comment|linebreaksbr }}</td></tr>
</table>