{% include "decoration.html" with title=title|default:"Skills list" icon=icon|default:"skill_small.png" %}

{% if skills_list %}
<table class="table table-condensed table-bordered table-hover dataTable">
    <thead>
        <tr>
            <th>name</th>
            <th>enabled</th>
            <th>category</th>
        </tr>
    </thead>
    <tbody>
{% for skill in skills_list %}
    <tr>
        <td>{{ skill.name }}</td>
        <td>{{ skill.enabled }}</td>
        <td>{{ skill.category }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>No skills found.</p>
{% endif %}