{% include "fa-decoration.html" with title=title|default:"Skills list" icon=icon|default:"fa-graduation-cap" %}

{% if skills_list %}
<table class="table table-condensed table-bordered table-hover dataTable">
    <thead>
        <tr>
            <th>category</th>
            <th>name</th>
            <th>enabled</th>
        </tr>
    </thead>
    <tbody>
{% for skill in skills_list %}
    <tr>
        <td><a href="{% url "skillcategory_detail" skill.category.id %}">{{ skill.category }}</td>
        <td><a href="{% url "skill_detail" skill.id %}">{{ skill.name }}</a></td>
        <td>{{ skill.enabled }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>No skills found.</p>
{% endif %}