<!-- We need to display this page in a full layout -->
{% extends "base.html" %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url "home" %}"><i class="fa fa-home"></i>&nbsp;</a></li>
  <li><a href="{% url "skillcategories_list" %}">Skill Categories</a></li>
  <li class="active">{{ skillcategory }}</li>
</ol>
<!-- Include the object property -->
{% include "skillcategory_property.html" %}

<!-- Include the object property -->
{% include "common/object_actions.html" %}

<hr/>

{% include "skill_table.html" with skills_list=skillcategory.get_skills %}
<a href="{% url "add_skill" skillcategory.id %}"><i class="fa fa-plus"></i>Add skill</a>


{% endblock %}