<!-- We need to display this page in a full layout -->
{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Skill Categories" "skillcategories_list" %}
    {% breadcrumb skillcategory "skillcategory_detail" skillcategory.id %}
{% endblock %}

{% block content %}

{% render_breadcrumbs %}

<!-- Include the object property -->
{% include "skillcategory_property.html" %}

<!-- Include the object property -->
{% include "common/object_actions.html" %}

<hr/>

{% include "skill_table.html" with skills_list=skillcategory.get_skills %}
<a href="{% url "add_skill" skillcategory.id %}"><i class="fa fa-plus"></i>Add skill</a>


{% endblock %}