{% block employeeskills_table %}

{% if employeeskills_list %}
<table class="blue">
    <tr>
        <th/>
        <th>employee</th>
        <th>skill</th>
        <th>level</th>
    </tr>
{% for employeeskill in employeeskills_list %}
    <tr>
        <td><input type="checkbox" name="id_{{ employeeskill.id }}"/></td>
        <td><a href="{{ employeeskill.employee.get_absolute_ur l}}">{{ employeeskill.employee }}</a></td>
        <td><a href="{{ employeeskill.skill.get_absolute_url }}/">{{ employeeskill.skill }}</a></td>
        <td><a href="{{ employeeskill.get_absolute_url }}">{{ employeeskill.level }}</a></td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>No employee skills found.</p>
{% endif %}

{% endblock %}