{% extends "base.html" %}

{% block title %}Job {{job}} details {% endblock %}

{% block content %}

{% include "qualifications/job_property.html" %}

{% include "common/object_actions.html" %}

<div class="block">
<h2>Required Skills</h2>
{% include "qualifications/jobprofileskill_table.html" with jobprofileskills_list=job.get_profile_skills %}
<a href="/qualifications/job_skills/create">Add Skill</a>
</div>

<div class="block">
<h2>Employees for this job</h2>
{% include "qualifications/jobemployee_table.html" with jobemployees_list=job.get_employees %}
<a href="/qualifications/job_employees/create">Add Employee</a>
</div>

{% endblock %}