{% if jobemployees_list %}
<table class="styled detail">
    <tr>
        <th/>
        <th>job</th>
        <th>employee</th>
        <th>date start</th>
        <th>date end</th>
    </tr>
{% for jobemployee in jobemployees_list %}
    <tr>
        <td><input type="checkbox" name="id_{{ jobemployee.id }}"/></td>
        <td><a href="{{ jobemployee.job.get_absolute_url }}">{{ jobemployee.job }}</a></td>
        <td><a href="{{jobemployee.employee.get_absolute_url }}">{{ jobemployee.employee }}</a></td>
        <td>{{ jobemployee.date_start }}</td>
        <td>{{ jobemployee.date_end }}</td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>No job employees found.</p>
{% endif %}