{% if jobprofileskills_list %}
<table class="blue">
    <tr>
        <th/>
        <th>job</th>
        <th>profile</th>
        <th>skill</th>
        <th>level</th>
    </tr>
{% for jobskill in jobprofileskills_list %}
    <tr>
        <td><input type="checkbox" name="id_{{ jobskill.id }}"/></td>
        <td><a href="{{ jobskill.job.get_absolute_url }}">{{ jobskill.job }}</a></td>
        <td><a href="{{jobskill.profile.get_absolute_url }}">{{ jobskill.profile }}</a></td>
        <td><a href="{{ jobskill.skill.get_absolute_url }}/">{{ jobskill.skill }}</a></td>
        <td><a href="{{ jobskill.get_absolute_url }}">{{ jobskill.level }}</a></td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>No job skills found.</p>
{% endif %}