{% extends "base.html" %}

{% block title %}Profiles list{% endblock %}

{% block content %}

{% if profiles_list %}
<table class="blue">
    <tr>
        <th/>
        <th>name</th>
        <th>description</th>
    </tr>
{% for profile in profiles_list %}
    <tr>
        <td><input type="checkbox" name="id_{{profile.id}}"/></td>
        <td><a href="{{ profile.get_absolute_url }}/">{{ profile.name }}</a></td>
        <td>{{ profile.description }}</td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>No profiles found.</p>
{% endif %}

<a href="create">Add new profile</a>

{% endblock %}