{% extends "base.html" %}

{% block title %}Skill {{skill.name}} details {% endblock %}

{% block content %}

{% include "qualifications/skill_property.html" %}

<a href="update">modify</a> | <a href="delete">delete</a>


<div class="block">
<h2>Employees with this Skill</h2>
{% include "qualifications/employeeskill_table.html" with employeeskills_list=skill.get_employees %}
</div>


<div class="block">
<h2>Jobs requiring this Skill</h2>
{% include "qualifications/jobskill_table.html" with jobskills_list=skill.get_jobs %}
</div>


{% endblock %}