{% extends "base.html" %}

{% block title %}Skill {{skill.name}} details {% endblock %}

{% block content %}

{% include "qualifications/skill_property.html" %}

{% include "common/object_actions.html" %}


<div class="block">
<h2>Employees with this Skill</h2>
{% include "qualifications/employeeskill_table.html" with employeeskills_list=skill.get_employees %}
<a href="/qualifications/employee_skills/create/">Add employee</a>
</div>


<div class="block">
<h2>Jobs requiring this Skill</h2>
{% include "qualifications/jobskill_table.html" with jobskills_list=skill.get_jobs %}
<a href="/qualifications/job_skills/create/">Add jobs</a>
</div>


{% endblock %}