{% extends "base.html" %}

{% block icon %}services/domain.png{% endblock %}
{% block title %}Domain {{domain}} details {% endblock %}

{% block content %}

{% include "services/domain_property.html" %}

{% include "common/object_actions.html" %}


<div class="block">
<h2>Service Families in this domain</h2>
{% include "services/servicefamily_table.html" with servicefamilies_list=domain.get_service_families %}
<a href="/services/service_families/create/">Add service family</a>
</div>

{% endblock %}