{% extends "base.html" %}

{% block icon %}services/service_family.png{% endblock %}
{% block title %}Service Family {{servicefamily}} details {% endblock %}

{% block content %}

{% include "services/servicefamily_property.html" %}

{% include "common/object_actions.html" %}

<div class="block">
{% include "services/service_table.html" with title="Services for this Service Family" services_list=servicefamily.get_services %}
<a href="/services/services/create">Add new service</a>

{% endblock %}