
{% include "services/decoration.html" with title=title|default:"Services list" icon=icon|default:"service_small.png" %}

{% if services_list %}
<table class="table table-condensed table-bordered table-hover dataTable">
    <thead>
    <tr>
        <th/>
        <th>service</th>
        <th>family</th>
        <th>domain</th>
        <th>owner</th>
    </tr>
    </thead>
    <tbody>
{% for service in services_list %}
    <tr>
        <td><input type="checkbox" name="id_{{ service.id }}"/></td>
        <td><a href="{{ service.get_absolute_url }}/">{{ service.name }}</a></td>
        <td><a href="{{ service.service_family.get_absolute_url }}/">{{ service.service_family}}</a></td>
        <td><a href="{{ service.service_family.domain.get_absolute_url }}/">{{ service.service_family.domain}}</a></td>
        <td><a href="{{ service.owner.get_absolute_url }}">{{service.owner}}</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>No services found.</p>
{% endif %}
