{% if servicefamilies_list %}
<table class="blue">
    <tr>
        <th/>
        <th>domain</th>
        <th>name</th>
        <th>description</th>
        <th>focal point</th>
    </tr>
{% for servicefamily in servicefamilies_list %}
    <tr>
        <td><input type="checkbox" name="id_{{ servicefamily.id }}"/></td>
        <td><a href="{{servicefamily.domain.get_absolute_url}}">{{ servicefamily.domain }}</a></td>
        <td><a href="{{ servicefamily.get_absolute_url }}/">{{ servicefamily}}</a></td>
        <td>{{servicefamily.description}}</td>
        <td><a href="{{servicefamily.focal_user.get_absolute_url}}">{{ servicefamily.focal_user}}</a></td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>No servicefamilys found.</p>
{% endif %}
