<h2>Service Catalogue Status</h2>
<table>
    <tr>
        <td><img src="/static/media/services/domain_small.png"/></td>
        <td><a href="/services/domains/">{{count_domains}} Domains</a> registered</td>
    </tr>
    <tr>
        <td><img src="/static/media/services/service_family_small.png"/></td>
        <td><a href="/services/service_families/">{{count_servicefamilies}} Service Families</a> registered</td>
    </tr>
    <tr>
        <td><img src="/static/media/services/service_small.png"/></td>
        <td><a href="/services/services/">{{count_services}} Services</a> registered</td>
    </tr>
</table>