<div class="col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <span class="strong"><i class="fa fa-th"></i>&nbsp; Services</span>
        </div>
        <div class="panel-body">
            <a href=""><i class="fa fa-th"></i>&nbsp;{{ count_domains }} domains</a><br/>
            <a href=""><i class="fa fa-th-large"></i>&nbsp;{{ count_servicefamilies }} service families</a><br/>
            <a href=""><i class="fa fa-th-list"></i>&nbsp;{{ count_services }} services</a><br/>
        </div>
    </div>
</div>