{% load currency_filter %}
<table class="table table-condensed table-bordered table-hover dataTable">
<thead>
<tr>
    <th>Deliverable</th>
    <th>Project</th>
    <th>Service</th>
    <th>Service Family</th>
    <th>Domain</th>
    <th>Turnover</th>
</tr>
</thead>
<tbody>
{% for deliverable in service.get_deliverables %}
    <tr>
        <td><a href="{%url 'deliverable_detail' deliverable.id %}">{{ deliverable }}</a></td>
        <td><a href="{%url 'project_detail' deliverable.project.id %}">{{ deliverable.project }}</a></td>
        <td><a href="{% url 'service_report' service.id %}">{{service.name}}</a></td>
        <td><a href="{% url 'servicefamily_report' service.service_family.id %}">{{service.service_family}}</a></td>
        <td><a href="{% url 'domain_report'  service.service_family.domain.id %}">{{service.service_family.domain}}</a></td>
        <td style="text-align:right;">{{service.get_turnover|currency}}</td>
    </tr>
{% endfor %}
</tbody>
<tfoot>
    <tr>
        <th colspan="5">Total</th>
        <th style="text-align:right;">{{total_turnover|currency}}</th>
    </tr>
</tfoot>
<table>