{% load currency_filter %}
{% include "decoration.html" with title="Project Deliverable Volume properties" icon="deliverablevolume.png" block="main" %}
<table class="table table-hover">
    <tr><th>project name</th><td><a href="{% url 'project' deliverablevolume.deliverable.project.id %}">{{ deliverablevolume.deliverable.project }}</a></td></tr>
    <tr><th>project deliverable name</th><td><a href="{% url 'deliverable' deliverablevolume.deliverable.id %}">{{ deliverablevolume.deliverable}}</a></td></tr>
    <tr><th>date start</th><td>{{ deliverablevolume.date_start}}</td></tr>
    <tr><th>date end</th><td>{{ deliverablevolume.date_end}}</td></tr>
    <tr><th>number of units</th><td>{{ deliverablevolume.quantity }}</td></tr>
    <tr><th>unit price</th><td>{{ deliverablevolume.unit_price|currency }} </td></tr>
</table>