{% load currency_filter %}
{% include "fa-decoration.html" with title=title|default:"Project properties" icon="fa-cubes" block="main" %}
<table class="table table-hover">
    <tr><th>project name</th><td>{{ project.name}}</td></tr>
    <tr><th>project number</th><td>{{ project.number}}</td></tr>
    <tr><th>project leader</th>
        <td>
            {% if project.project_leader %}<a href="{% url 'employee' project.project_leader.id %}">{{project.project_leader}}</a>{% endif %}
        </td>
    </tr>
    <tr><th>project start date</th><td>{{project.date_start}}</td></tr>
    <tr><th>project end date</th><td>{{project.date_end}}</td></tr>
    <tr><th>CIMPA department</th><td>{{project.department}}</td></tr>
    <tr><th>turnover allocation natco</th><td>{{project.get_natco_display}}</td></tr>
    <tr><th>customer name</th><td>{{project.customer_name}}</td></tr>
    <tr><th>customer siglum</th><td>{{project.customer_siglum}}</td></tr>
    <tr><th>description</th><td>{{ project.description|linebreaksbr  }}</td></tr>
    <tr><th>wiki link</th><td><a href="{{project.wiki_link}}">{{ project.wiki_link}}</a></td></tr>
    <tr><th>status</th><td><div class="label {{ project.status.css_class }}">{{ project.status }}</div></td></tr>
    <tr><th>turnover</th><td>{{ project.get_total_turnover|currency }}</td></tr>
</table>