<!-- We need to display this page in a full layout -->
{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Projects" "projects_list" %}
{% endblock %}

{% block content %}

<ul class="nav nav-pills">
    <li role="presentation" {% if viewing == "all" %}class="active"{% endif %}><a href="{%url "projects_list" %}">All</a></li>
    {% for projectstatus in projectstatus_list %}
    <li role="presentation" {% if viewing|lower == projectstatus|lower %}class="active"{% endif %}><a href="{%url "projects_list_status" projectstatus %}">{{ projectstatus }}</a></li>
    {% endfor %}
</ul>

{% render_breadcrumbs %}
<!-- Include the list of objects -->
{% include "project_table.html" with block="main" datatable_style="dataTableFiltered" %}

{% include "common/list_actions.html" with action_url="create_project" item_name="project" %}

{% endblock %}