{% extends "base.html" %}

{% block content %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Projects" "projects_list" %}
    {% breadcrumb project "project_detail" project.id %}
    {% breadcrumb "Delete Project" "" %}
{% endblock %}

{% render_breadcrumbs %}
<div class="bg-warning" align="center">Do you really want to delete this Project ?</div>

{% include "project_property.html" %}
  
<form method="POST">
    {% csrf_token %}
    {{ form }}
    {% include "common/form_buttons.html" %}
</form>
{% endblock %}