<!-- We need to display this page in a full layout -->
{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Projects" "projects_list" %}
{% endblock %}

{% block content %}

{% render_breadcrumbs %}
<!-- Include the list of objects -->
{% include "project_table.html" with block="main" datatable_style="dataTableFiltered" %}

{% include "common/list_actions.html" with action_url="create_project" item_name="project" %}

{% endblock %}