{% load currency_filter %}
{% include "fa-decoration.html" with title=title|default:"Projects list" icon=icon|default:"fa-cubes" %}

{% if projects_list %}
<table class="table table-condensed table-bordered table-hover {{ datatable_style |default:"dataTable" }}">
    <thead>
        <tr>
            <th>project number</th>
            <th>project name</th>
            <th>department</th>
            <th>project leader</th>
            <th>project turnover</th>
        </tr>
    </thead>
    <tbody>
{% for project in projects_list %}
    <tr>
        <td>{{ project.number }}</td>
        <td><a href="{% url 'project_detail' project.id %}">{{ project.name }}</td>
        <td>{{ project.department }}</td>
        <td>
            {% if project.project_leader %}<a href="{% url 'employee' project.project_leader.id %}">{{ project.project_leader }}</a>{% endif %}
        </td>
        <td align="right">{{ project.get_total_turnover|currency }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>No projects found.</p>
{% endif %}