<!-- We need to display this page in a full layout -->
{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Projects" "projects_list" %}
    {% breadcrumb project "project_detail" project.id %}
{% endblock %}

{% block content %}

{% render_breadcrumbs %}

<!-- Include the object property -->
{% include "project_property.html" %}

<!-- Include the object property -->
{% include "common/object_actions.html" %}

<hr/>

<div class="block">
{% include "position_table.html" with positions_list=project.get_positions %}
<a href="{% url 'add_projectposition' project.id %}"><i class="fa fa-plus"></i>Add deliverable</a>
</div>

{% endblock %}