{% load extras %}

<form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <legend>{{ legend }}</legend>
    
    {% for field in form %}
   
{% comment %} Here we will check if the field is already defined in the view      {% endcomment %}
    {% if field.name in predefined %}
    {% with predefined_object=predefined|get:field.name %}
    <div class="form-group">
        <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" value="{{ predefined_object }}" disabled/>
            <input type="hidden" id="id_{{ field.name }}" name="{{ field.name }}" value="{{ predefined_object.id }}"/>
        </div>
    </div>
    {% endwith %}
{% comment %} This field was not predefined     {% endcomment %}
    {% else %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label class="col-sm-2 control-label" for="id_{{ field.name }}">
            {% if field.field.required %}<strong><i class="fa fa-asterisk"></i> {{ field.label }}</strong>
            {% else %}{{ field.label }}
            {% endif %}
        </label>
        <div class="col-sm-4">
        {% if field|field_type == 'DateField' %}
            <div class="input-group">
                <span class="input-group-addon date" id="id_{{ field.name }}" data-date="{{ field.value|date:'Y-m-d'}}"><i class="fa fa-calendar"></i></span>
                <input class="form-control" id="id_{{ field.name}}" name="{{ field.name }}" type="text" size="16" value="{{ field.value|date:'Y-m-d'}}" data-provide="datepicker" data-date-format="yyyy-mm-dd"/>
            </div>
        <span class="text-danger">{{ field.errors|join:', ' }}</span>
       {% else %}
            {{ field|css_class:'form-control' }}
        <span class="text-danger">{{ field.errors|join:', ' }}</span>
        {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div>
        <div class="col-sm-offset-2">
            <p><i class="fa fa-asterisk"></i>&nbsp; <strong>Mandatory fields</strong></p>
            <div class="btn-group ">
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-default" onClick="history.back()" type="button"/>Cancel</button>
            </div>
        </div>
    </div>
</form>