<!DOCTYPE html >
<html lang="en" >
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>CREAM reloaded</title>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/datatables/DT_bootstrap.css">
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }
    </style>
    </head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
            {% include "header.html" %}
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
            {% include "menu.html" %}
            </div>
            
            <div class="span9">
            {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    
{% include "footer.html" %}

<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/datatables/media/js/jquery.dataTables.js"></script>
<script src="/static/datatables/DT_bootstrap.js"></script>
{% comment %} <script src="/static/datepicker/js/bootstrap-datepicker.js"></script> {% endcomment %}
{% comment %} <script src="/static/datepicker/datepicker.js"></script> {% endcomment %}

</body>
</html>
