{% load static %}

<!DOCTYPE html >
<html lang="en" >
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CREAM reloaded</title>
        <link rel="stylesheet" type="text/css" href="{% static 'cream.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'dataTables.bootstrap.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/font-awesome.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-datepicker/css/datepicker.css' %}"/>
        <style type="text/css">
            body {
                padding-top: 70px;
                padding-bottom: 40px;
            }
    </style>
    </head>
    
    <body>
    
    {% include "header.html" %}
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
            {% include "menu.html" %}
            </div>
            
            <div class="col-sm-10">
            {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    
    {% include "footer.html" %}

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'respond/dest/respond.min.js' %}"></script>
    <script src="{% static 'datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'dataTables.init.js' %}"></script>
    <script src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script language="javascript">
    $('.input-append.date').datepicker({
        format: 'yyyy-mm-dd',
    })
    </script>

    </body>
</html>
