<div class="sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="/"><i class="fa fa-fw fa-home"></i>&nbsp;Home</a></li>
    </ul>
    <hr/>
    {% include "services_menu.html" %}
    <hr/>
    {% include "projects_menu.html" %}
    <hr/>
    {% include "reports_menu.html" %}
    <hr/>
    {% include "qualifications_menu.html" %}
    <hr/>
    {% include "recruitment_menu.html" %}
    {% if user.is_staff %}
    <hr/>
    <ul class="nav nav-sidebar">
        <li><a href="/admin"><i class="fa fa-fw fa-wrench"></i> Admin site</a></li>
        <li><a href="/users/employees/"><i class="fa fa-fw fa-user"></i> Employees</a></li>
    </ul>
    {% endif %}
    
</div>