
div, pre,td,th, input, select, textarea {
    margin-left:0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

img {
    border:0px;
    margin:0px;
}


/* Hyperlinks formats        */
a {
    color: #0000CC;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: #FF9900;
}


/* Table formats */
table
{
	empty-cells: show;
	border-collapse:collapse;
}


/* Page Layout */
div.page_header {
    text-align:center;
}

div.menu {
    float:left;
    width:160px;
}

div.content {
    float:left;
}




table.blue {
    empty-cells: show;
    border-collapse:collapse;
}
table.blue td {
    border: 1px solid #cbd4e8;
    background-color: #f2f4fa;
    padding-left:5px;
    padding-right:5px;
}
table.blue th {
    font-weight: bold;
    border: 1px solid #94a9d4;
    background-color: #d3dbed;
    padding-left:5px;
    padding-right:5px;
}




/* Error Management in forms*/
ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    background-color: red;
    color: white;
    display: block;
    margin: 0 0 3px;
    padding: 4px 5px;
}