body{
    margin:0px;
    padding:0px;
}

div, pre,td,th, input, select, textarea {
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

img {
    border:0px;
    margin:0px;
}


/* Hyperlinks formats        */
a {
    color: #0000CC;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: #FF9900;
}


/* Table formats */
table
{
	empty-cells: show;
	border-collapse:collapse;
}


/* Page Layout */
div.page_header {
    text-align:center;
    background-color: RGB(30,49,116);
    font-size:14px;
    color:white;
    margin: 0px;
    padding:5px;
    clear:left;
}

div.menu {
    float:left;
    width:160px;
    background-color: #d3dbed;
    margin:10px;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0 0 3px #ccc;
}

div.content {
    padding-top:20px;
    margin-left:200px;
}

div.footer {
    text-align:center;
    clear:left;
    margin:10px;
}



/* Specific tables */
table.blue {
    empty-cells: show;
    border-collapse:collapse;
}
table.blue td {
    border: 1px solid #cbd4e8;
    background-color: #f2f4fa;
    padding-left:5px;
    padding-right:5px;
}
table.blue th {
    text-transform:capitalize;
    font-weight: bold;
    border: 1px solid #94a9d4;
    background-color: #d3dbed;
    padding-left:5px;
    padding-right:5px;
}


table.menu {
    width:90%;
    border:1px solid #94a9d4;
}
table.menu th {
    background-color: #d3dbed;
}



/* Error Management in forms*/
ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    background-color: red;
    color: white;
    display: block;
    margin: 0 0 3px;
    padding: 4px 5px;
}