<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>CREAM reloaded</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
    
    <div class="page_header">
        {% include "header.html" %}
    </div>
    
    <div class = "left_column">
    
    
        <div class="menu">
            {% include "menu.html" %}
        </div>
        
        {% if user.is_staff %}
        <div class="menu">
            {% include "adminmenu.html" %}
        </div>
        {% endif%}
    
    </div>
    
    <div class="content">
        <img src="{{ MEDIA_URL }}{% block icon %}{% endblock %}"/><h1>{% block title %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>
    
    <div class="footer">
        {% include "footer.html" %}
    </div>
    
</body>
</html>
