{% extends "base.html" %}

{% block content %}

<div class="block">
<table>
    <tr>
        <td style="padding-right:30px;vertical-align:top;">{% include "services/summary.html"%}</td>
        <td style="border-right:2px solid #d3dbed"/>
        <td style="padding:0 30px 0 30px;vertical-align:top;">{% include "projects/summary.html"%}</td>
    </tr>
</table>
</div>

{% if user_pending_deliverables.count > 0 %}
<div class="block">
{% include "projects/deliverable_table.html" with deliverables_list=user_pending_deliverables title="Deliverables that need your validation" %}
</div>
{% endif %}

{% endblock %}