<h1>Menu</h1>
<div>
    <a href="/">Home</a>
    <hr/>
    {% include "services/menu.html" %}
    <hr/>
    {% include "projects/menu.html" %}
    <hr/>
    {% include "services/reports_menu.html" %}
    <hr/>
    <h2>Help Menu</h2>
    <a href="http://confluence.intra.cimpa.corp/confluence/display/main/CREAM+for+PLM+BP+Service+Catalogue" target="_blank">Cream Description</a><br/>
    <a href="http://confluence.intra.cimpa.corp/confluence/display/main/CREAM+for+PLM+BP+Service+Catalogue#CREAMforPLMBPServiceCatalogue-UserManualHowTo%27s" target="_blank">How Tos</a><br/>
    <a href="http://confluence.intra.cimpa.corp/confluence/display/main/CREAM+for+PLM+BP+Service+Catalogue#CREAMforPLMBPServiceCatalogue-ProcessDescriptions" target="_blank">Processes</a><br/>
<!--     <hr/> -->
<!--     {% include "qualifications/menu.html" %} -->
</div>
