{% extends 'base.html' %}
{% block content %}
<form action="." method="post">
{% csrf_token %}
    <legend>Change your password</legend>
{% comment %}     <form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}"> {% endcomment %}
    {% csrf_token %}
    <div class="control-group">
        <label class="control-label" for="id_old_password">Old Password</label>
        <div class="controls">
        <input type="password" id="id_old_password" name="old_password" placeholder="Old Password">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_new_password1">New Password</label>
        <div class="controls">
        <input type="password" id="id_new_password1" name="new_password1" placeholder="New Password">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_new_password2">Confirm New Password</label>
        <div class="controls">
        <input type="password" id="id_new_password2" name="new_password2" placeholder="Retype Password">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
        <button type="submit" class="btn">Change Password</button>
        <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </div>
{% comment %}     </form> {% endcomment %}
</form>
{% endblock %}