<table>
    <tr><th>id</th><td>{{ task.id }}</td></tr>
    <tr><th>name</th><td>{{ task.name}}</td></tr>
    <tr><th>project</th><td><a href="/projects/{{ task.deliverable.project.id }}">{{ task.deliverable.project }}</a></td></tr>
    <tr><th>open date</th><td>{{ task.open_date }}</td></tr>
    <tr><th>criticity</th><td>{{ task.get_criticity_display }}</td></tr>
    <tr><th>description</th><td>{{ task.description }}</td></tr>
    <tr><th>requestor</th><td>{{ task.requestor }}</td></tr>
    <tr><th>requestor type</th><td>{{ task.requestor_type }}</td></tr>
    <tr><th>creator</th><td><a href="/employees/{{ task.creator.id }}">{{ task.creator }}</a></td></tr>
    <tr><th>deliverable</th><td>{{ task.deliverable }}</td></tr>
    <tr><th>answer</th><td>{{ task.answer }}</td></tr>
    <tr><th>close date</th><td>{{ task.close_date }}</td></tr>
    <tr><th>status</th><td>{{ task.get_status_display }}</td></tr>
    <tr><th>reject reason</th><td>{{ task.reject_reason }}</td></tr>
    <tr><th>time spent</th><td>{{ task.time_spent }}</td></tr>
    <tr><th>subjects</th>
        <td>
        {% for subject in task.subject.all %}
            <a href="/subjects/{{ subject.id }}">{{ subject }}</a></br>
        {% endfor %}
        </td>
    </tr>
    <tr><th>owners</th>
        <td>
        {% for owner in task.owner.all %}
            <a href="/employees/{{ owner.id }}">{{ owner }}</a></br>
        {% endfor %}
        </td>
    </tr>
</table>

<a href="/admin/tasks/task/{{task.id}}">modify</a>